extends ../layout

block content
  .container
    h1 Login Page
    br
    form(role='form', action="/login",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      span Or
      &nbsp;
      a(href='/register')
        button.btn.btn-primary(type="button") Register

