doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

  script(src='/js/jquery.js')
  script(src='/js/bootstrap.min.js')
