extends ../layout

block content
  form(action="/notes/add",method="post")
    input(name="note",placeholder="Текст заметки")
    &nbsp;
    button Добавить
  br
  table.table
    each note, i in notes
      tr
        td.text-center ##{i+1}
        td.text-center #{note.note}
        td.text-right
          a(href="/notes/delete?id=#{note._id}")
            button.btn.btn-primary(type="button") Удалить

